In [3]:
import pandas as pd

# Create a date range for 3 days, with hourly frequency
date_range = pd.date_range(start='2024-07-23', periods=3*24, freq='H')

# Create a dictionary with dummy data
data = {
    'Date': date_range,
    'Air-Conditioner (kWh)': [0.1]*24 + [0.2]*24 + [0.15]*24,  # 0.1 kWh/hour for first day, 0.2 kWh/hour for second day, 0.15 kWh/hour for third day
    'Fridge (kWh)': [0.05]*24 + [0.06]*24 + [0.055]*24,  # 0.05 kWh/hour for first day, 0.06 kWh/hour for second day, 0.055 kWh/hour for third day
    'Energy Produced (kWh)': [0.5]*24 + [0.6]*24 + [0.55]*24  # 0.5 kWh/hour for first day, 0.6 kWh/hour for second day, 0.55 kWh/hour for third day
}

# Create a DataFrame
df = pd.DataFrame(data)

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

df.to_csv("dummy.csv")

In [4]:
df

,Air-Conditioner (kWh),Fridge (kWh),Energy Produced (kWh)
Date,,,
2024-07-23 00:00:00,0.10,0.050,0.50
2024-07-23 01:00:00,0.10,0.050,0.50
2024-07-23 02:00:00,0.10,0.050,0.50
2024-07-23 03:00:00,0.10,0.050,0.50
2024-07-23 04:00:00,0.10,0.050,0.50
...,...,...,...
2024-07-25 19:00:00,0.15,0.055,0.55
2024-07-25 20:00:00,0.15,0.055,0.55
2024-07-25 21:00:00,0.15,0.055,0.55
2024-07-25 22:00:00,0.15,0.055,0.55
2024-07-25 23:00:00,0.15,0.055,0.55

In [6]:
import plotly.express as px

# Assuming df is the DataFrame created earlier

# Melt the DataFrame to pivot the consumption data
df_melt = pd.melt(df.reset_index(), id_vars='Date', value_vars=['Air-Conditioner (kWh)', 'Fridge (kWh)'])

# Extract the hour from the Date column
df_melt['Hour'] = df_melt['Date'].dt.hour

# Plot the line chart
fig = px.line(df_melt, x='Hour', y='value', color='variable', title='Consumption over Time')

# Show the plot
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [7]:
df_melt

                   Date               variable  value  Hour
0   2024-07-23 00:00:00  Air-Conditioner (kWh)  0.100     0
1   2024-07-23 01:00:00  Air-Conditioner (kWh)  0.100     1
2   2024-07-23 02:00:00  Air-Conditioner (kWh)  0.100     2
3   2024-07-23 03:00:00  Air-Conditioner (kWh)  0.100     3
4   2024-07-23 04:00:00  Air-Conditioner (kWh)  0.100     4
..                  ...                    ...    ...   ...
139 2024-07-25 19:00:00           Fridge (kWh)  0.055    19
140 2024-07-25 20:00:00           Fridge (kWh)  0.055    20
141 2024-07-25 21:00:00           Fridge (kWh)  0.055    21
142 2024-07-25 22:00:00           Fridge (kWh)  0.055    22
143 2024-07-25 23:00:00           Fridge (kWh)  0.055    23

[144 rows x 4 columns]